@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

body {
  display: flex;
}

.left {
  display: flex;
  width: 20%;
  height: 100vh;
  background-color: #D9D9D9;
  flex-direction: column;
}

.bot_left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.dash {
  font-size: 23px;
  margin-top: 80px;
  font-weight: bold;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  margin-right: 10px;

}

.shonen {
  display: flex;
  color: #2696B6;
  font-weight: bold;
  margin-top: 10px;
  font-size: 22px;
}


.botao {
  display: flex;
  width: 180px;
  height: 70px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: #2696B6;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.botao:hover {
  transform: scale(1.1);
}

.area_grafico {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: end;
  height: 90%;
  margin-top: 10px;
}

.sup {
  display: flex;
  width: 100%;
  height: 100px;
  color: black;
}

.bot {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 50px;
}


.titulo {
  display: flex;
  color: black;
  width: 80%;
  height: 60%;
  justify-content: center;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 70px;
}

.kpis {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
  font-size: 18px;
}

.one {
  display: flex;
  width: 250px;
  height: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(166, 213, 255);
}

.two {
  display: flex;
  width: 250px;
  height: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(166, 213, 255);
}

.three {
  display: flex;
  width: 250px;
  height: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(166, 213, 255);
}

.four {
  display: flex;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(255, 166, 166);
}

.grafico {
  display: flex;
  flex-direction: column;
  width: 3000px;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  font-size: 20px;
  gap: 20px;
}

