@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: white;
}

body {
  display: flex;
  height: 100%;
  background-color: #777777;
  flex-direction: column;
}

.body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container {
  display: flex;
  background-color: #E1E1E1;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;

}

.shonen {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  color: #2696B6;
}

.navbar {
  display: flex;
  width: 80%;
  gap: 30px;
  font-size: 19px;
  justify-content: end;
  gap: 100px;
  margin-right: 90px;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: black;
}

a:hover {
  display: flex;
  transform: scale(1.2);
}

.creditos {
  font-family: 'Chakra Petch';
}

.conteudo {
  display: flex;
  height: 450px;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.left {
  display: flex;
  flex-direction: column;
}

.oque {
  display: flex;
  height: 300px;
  align-items: end;
  font-size: 20px;
  cursor: pointer;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.area_packs {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.pack1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pack {
  cursor: pointer;
  transition: all 0.3s ease;
}

.pack:hover {
  transform: scale(1.1);
}

.botao_dash {
  display: flex;
  width: 200px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #2696B6;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
}

.botao_dash:hover {
  transform: scale(1.1);
}

.botao_cartas {
  display: flex;
  width: 200px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #2696B6;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
}

.botao_cartas:hover {
  transform: scale(1.1);
}

.right {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-around;
  width: 10%;
  margin-right: 20px;
  margin-top: 70px;
}

.modal {
  background-color: rgb(56, 56, 56);
  text-align: center;
  margin: auto;
  width: 900px;
  height: 450px;
  border-radius: 5px;
  padding: 30px;
}

/* Escurecendo a tela original enquanto aparece o dialog */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.742);
}

.botao_modal {
  width: 90px;
  height: 40px;
  background-color: rgb(202, 202, 202);
  color: black;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.botao_modal:hover {
  background-color: white;
}

.imagem_card img {
  width: 220px;
  height: 300px;
}