@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.body {
display: flex;
flex-direction: row;
}

.protas {
    display: flex;
    height: 100vh;
}

.login {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.login_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: #12aad4;
}

.login_mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}


.login_bot {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  align-items: center;
}

.botao_login {
  display: flex;
  width: 40vh;
  height: 45px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  background-color: #2696B6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao_login:hover {
  background-color: #12aad4;
}

.redi_cadastro {
  display: flex;
  width: 40vh;
  height: 45px;
  background: none;
  border: none;
  color: #2696B6;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.login_titulo {
  display: flex;
  margin-top: 30px;
  font-size: 24px ;
}

.campos {
  display: flex;
  font-size: 18px;
  justify-content: start;
}

.inputs {
  display: flex;
  height: 25px;
  width: 40vh;
  font-size: 14.5px ;
  padding: 6px;
}



