@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

html{
    scroll-behavior: smooth; 
}

.container {
    display: flex;
    background-color: #E1E1E1;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;

}

.shonen {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  color: #2696B6;
}

.navbar {
  display: flex;
  width: 80%;
  gap: 30px;
  font-size: 19px;
  justify-content: end;
  gap: 100px;
  margin-right: 90px;
}

a {
  transition: all 0.3s ease; 
  text-decoration: none;
  color: black;
}

a:hover {
  display: flex;
  transform: scale(1.2);
}

.inicio {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-image: url('slf.png');
  background-size: cover;
  height: 650px;
  width: 100%;
}

.frase {
  display: flex;
  background-color: #E1E1E1;
  margin-top: 220px;
  font-weight: bold;
  height: 180px;
  border-radius:5px;
  padding: 30px;
  font-size: 33px;
  width: 500px;
  margin-right: 90px;
}

.sobre {
  display: flex;
  flex-direction: row;
  height: 650px;
  width: 100%;
  background-color: #BAAFC1;
  justify-content: space-around;
}

.sobre .img {
  display: flex;
  width: 360px;
  height: 460px;
  align-items: center;
  margin-top: 120px;
  margin-left: 100px;
  transition: transform 0.3s ease;
}

.sobre img:hover {
  display: flex;
  transform: scale(1.2);
}

.sobre .titulo {
  display: flex;
  font-size: 30px;
}

.conteudo {
  display: flex;
  width: 80vh;
  margin-top: 120px;
  flex-direction: column;
  gap: 20px;
  margin-right: 50px;
  font-size: 20px;
}

.animes {
  display: flex;
  flex-direction: column;
  height: 2500px;
  align-items: center;
  gap: 70px;
  background-color: #B3B7DB;
}

/* One Piece */
.animes .titulo {
  display: flex;
  font-size: 30px;
  margin-top: 50px;
}

.animes .onepiece {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.onepiece .sobre_op{
  display: flex;
  flex-direction: column;
  width: 80vh;
  gap: 30px;
  font-size: 20px;
}

.onepiece .gif {
  display: flex;
  border-radius: 10px;
}

.onepiece .img {
  display: flex;
  transition: all 0.3s ease; 
}

.onepiece .img:hover {
  transform: scale(1.2);
}


/* Naruto */
.animes .naruto {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.naruto .sobre_naruto{
  display: flex;
  flex-direction: column;
  width: 80vh;
  gap: 30px;
  font-size: 20px;
}

.naruto .gif {
  display: flex;
  border-radius: 10px;
}

.naruto .img {
  display: flex;
  transition: all 0.3s ease; 
}
.naruto .img:hover {
  transform: scale(1.2);
}

/* HxH */
.animes .hxh {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.hxh .sobre_hxh{
  display: flex;
  flex-direction: column;
  width: 80vh;
  gap: 30px;
  font-size: 20px;
}

.hxh .gif {
  display: flex;
  border-radius: 10px;
}

.hxh .img {
  display: flex;
  transition: all 0.3s ease; 
}

.hxh .img:hover {
  transform: scale(1.2);
}

/* Bleach */
.animes .bleach {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.bleach .sobre_bleach{
  display: flex;
  flex-direction: column;
  width: 80vh;
  gap: 30px;
  font-size: 20px;
}

.bleach .gif {
  display: flex;
  border-radius: 10px;
}

.bleach .img {
  display: flex;
  transition: all 0.3s ease; 
}

.bleach .img:hover {
  transform: scale(1.2);
}

/* Black Clover */
.animes .clover {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.clover .sobre_bc{
  display: flex;
  flex-direction: column;
  width: 80vh;
  gap: 30px;
  font-size: 20px;
}

.clover .gif {
  display: flex;
  border-radius: 10px;
}

.clover .img {
  display: flex;
  transition: all 0.3s ease; 
}

.clover .img:hover {
  transform: scale(1.2);
}








